<div class="jumbotron">
<h1> Welcome to local Pinteresting </h1>
<p>You can <%= link_to "Sign up", "#" , class: "btn btn-success btn-lg"%> </p>
</div>

</br></br>
<p>You can know <%= link_to "About Us", about_path %> </p>



<!-- <p>You can sign up <a href="http://google.com">here</a>.</p>// -->

