<div class="jumbotron">
<h1> Welcome to local Pinteresting </h1>
<p>
	<%= link_to "Login", "", class: "btn btn-default btn-lg" %>
	<%= link_to "Sign up", "#" , class: "btn btn-success btn-lg"%> </p>
</div>
</br>
<p>Would you like to know <%= link_to "About Us", about_path %> </p>

<!-- <p>You can sign up <a href="http://google.com">here</a>.</p>// -->

